header
	ul.slider
		li
			img(src="images/slider1.jpg", alt="sliderimage")
		//- li
		//- 	img(src="images/slider1.jpg", alt="sliderimage")
		//- li
		//- 	img(src="images/slider1.jpg", alt="sliderimage")
		//- li
		//- 	img(src="images/slider1.jpg", alt="sliderimage")
	.logo-caption.first-logo
			img(src="images/logofirst.png", alt="")
	.logo-caption.second-logo
			img(src="images/logosecond.png", alt="")
	ul.header-buttons
		li
			a(href="#")
				p
					|ГОТОВЫЕ ПРЕДЛОЖЕНИЯ
				p
					|«Олимпийская деревня Новогорск.
					|Квартиры»
		li
			a(href="#")
				p
					|ПРАЙС-ЛИСТ
				p
					|Информация о ценах и составе 
					|проектной документации
		li
			a(href="#")
				p
					|ШОУ–РУМ 
				p
					|ХимкиГрупп Home Style