include includes/head
body
	include includes/header
	.gray-line 
		.content-wrapper
			p.prolog
				|В рамках проекта ХимкиГрупп Home Style  Химки Групп совместно с компанией Урбан-Дизайн предлагают весь спектр услуг  в области проектирования и отделки интерьеров. Специально для владельцев квартир в жилом комплексе «Олимпийская деревня Новогорск. Квартиры» мы предлагаем готовые решения по интерьеру, при покупке которых, Вы сможете переехать в свою квартиру уже через 6 месяцев. А также индивидуальную работу с дизайнерами в соответствии с Вашими личными пожеланиями.
	.wrapper
		.content-wrapper.generic
			h1
				|Индивидуальный дизайн: несколько простых шагов 
			ol
				li
					p
						|Мы встречаемся с Вами в офисе продаж в Новогорске. Обсуждаем особенности создания дизайн-проекта квартиры,  стоимость и сроки реализации, показываем работы дизайнеров, определяемся с Вашими стилевыми предпочтениями. Записаться на встречу можно по телефону  
						strong (495) 743–51–51 
						|либо по пишите на почту 
						a(href="mailto:pov@urbandes.ru")
							|pov@urbandes.ru
				li
					p
						|Мы заключаем с вами договор на проектирование. Дизайнер в соответствии с Вашими требованиями заполняет техническое задание на разработку дизайн проекта квартиры где указываются все Ваши пожелания.
					h2
						|Мы поможем Вам:
					ul
						li
							|увидеть свой новый интерьер с помощью коллажей, объемного моделирования и даже как на фотографии;
						li
							|подобрать все необходимые отделочные материалы исходя из Вашего бюджета;
						li
							|подобрать сантехническое и кухонное оборудование;
						li
							|организовать весь цикл строительства;
						li
							|провести необходимые согласования.
			ol
				h2
					|Заказав индивидуальный дизайн Вы получаете:
				li
					|Варианты планировочных решений помещений (2-3 варианта с последующими корректировками)
					img(src="images/scheme1.jpg", alt="")
					img(src="images/scheme2.jpg", alt="")
				li
					p
						|Эскизы и коллажи
					.inner-wrapper
						.inner-slider
							ul
								li
									img(src="images/collage1.jpg", alt="collage1")
								li
									img(src="images/collage1.jpg", alt="collage1")
								li
									img(src="images/collage1.jpg", alt="collage1")
								li
									img(src="images/collage1.jpg", alt="collage1")
						.control-bar
							p.image-tip
								|Эскиз гостинной
							
							a(href="#",data-jcarouselcontrol="true").jcarousel-control.prev
							.image-counter
								span.current
									|1
								|  из 
								span.all
									|4

							a(href="#",data-jcarouselcontrol="true").jcarousel-control.next
				li
					p
						|Чертежи (комплект планов и схем)
					img(src="images/scheme3.jpg", alt="")
					img(src="images/scheme4.jpg", alt="")
				li
					p
						|3d визуализацию помещений (дополнительно) 
					.img-gallery
						img(src="images/img-gallery1.jpg", alt="")
						img(src="images/img-gallery2.jpg", alt="")
				li
					p
						|Ведомость отделочных материалов с указанием артикулов и необходимому количеству, а также расчеты по стоимости
				li
					p
						|Смету на ремонтно-строительные работы по проекту
		.bottom-block
			.content-wrapper
				p
					|Если у Вас возникли вопросы, звоните нам по телефону  
					strong (495) 743–51–51 
					br
					|или пишите на e-mail: 
					a(href="#") pov@urbandes.ru
				ul.download-btns
					li
						a(href="#")
							img(src="images/pdf-icon.png", alt="")
							p
								|ПРИМЕР
								br
								|ДИЗАЙН-ПРОЕКТА
							p.smalltxt
								|альбом
					li
						a(href="#")
							img(src="images/pdf-icon.png", alt="")
							p
								|ПРИМЕР ДОГОВОРА
							p.smalltxt
								|на разработку
								br
								|дизайн-проекта
					li
						a(href="#")
							img(src="images/pdf-icon.png", alt="")
							p
								|ПРИМЕР ДОГОВОРА
							p.smalltxt
								|на экспресс проектирование
	footer
		.content-wrapper
			a(href="#").sitemap
				|Карта сайта
			ul.socials
				li
					a(href="#").facebook
				li
					a(href="#").twitter
				li
					a(href="#").search
			form(action="")#searchform
				input(type="text", name="", placeholder="Найти")










