include includes/head
body
	include includes/header
	.wrapper
		#tabs
			ul.tabs
				li
					a(href="#tabs-1")
						|1-КОМНАТНЫЕ
				li
					a(href="#tabs-2")
						|2-КОМНАТНЫЕ
				li
					a(href="#tabs-3")
						|3-КОМНАТНЫЕ
			.content-wrapper.generic#tabs-1
				h1
					|Готовые предложения по 1–комнатным квартирам 
				ol
					li
						p
							|Мы разработали для Вас функциональную планировку и дизайн-проект в двух вариантах «Современный» и «Классика современная». Кроме того, мы подобрали все отделочные материалы, сантехническое и кухонное оборудование, встроенный 
							br
							|свет и подготовили предложение по меблировке помещений. 
							br
							br
							|Теперь Вам не надо думать над планировкой или сочетанием цветов – мы все решили на профессиональном уровне! Просто заказывайте пакетное предложение и через 5 месяцев приезжайте в квартиру с вещами!
				ol
					h3
						i
							|Пакетное предложение
					h2
						b
							|Стиль «Классика»
					li
						|План с расстановкой мебели
						span.blue-star
							|*
						img(src="images/scheme1.jpg", alt="")
						img(src="images/scheme2.jpg", alt="")
					li
						p
							|Чертежи (комплект планов и схем)
						img(src="images/scheme3.jpg", alt="")
						img(src="images/scheme4.jpg", alt="")
					li
						p
							|3d визуализацию помещений (дополнительно) 
						.img-gallery
							img(src="images/img-gallery1.jpg", alt="")
							img(src="images/img-gallery2.jpg", alt="")
					li
						p
							|Стилистическое решение (3Д визуализация)
						.inner-wrapper
							.inner-slider
								ul
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
							.control-bar
								p.image-tip
									|Эскиз гостинной
								
								a(href="#",data-jcarouselcontrol="true").jcarousel-control.prev
								.image-counter
									span.current
										|1
									|  из 
									span.all
										|4

								a(href="#",data-jcarouselcontrol="true").jcarousel-control.next
					p.note
						span
							|*Примечание 
						|— если Вам понравился стиль, но у Вас другая исходная планировка или метраж, мы сможет адаптировать 
						br
						|этот дизайн-проект под фактическую площадь помещения.
			.content-wrapper.generic#tabs-2
				h1
					|Индивидуальный дизайн: несколько простых шагов 
				ol
					li
						p
							|Мы встречаемся с Вами в офисе продаж в Новогорске. Обсуждаем особенности создания дизайн-проекта квартиры,  стоимость и сроки реализации, показываем работы дизайнеров, определяемся с Вашими стилевыми предпочтениями. Записаться на встречу можно по телефону  
							strong (495) 743–51–51 
							|либо по пишите на почту 
							a(href="mailto:pov@urbandes.ru")
								|pov@urbandes.ru
					li
						p
							|Мы заключаем с вами договор на проектирование. Дизайнер в соответствии с Вашими требованиями заполняет техническое задание на разработку дизайн проекта квартиры где указываются все Ваши пожелания.
						h2
							|Мы поможем Вам:
						ul
							li
								|увидеть свой новый интерьер с помощью коллажей, объемного моделирования и даже как на фотографии;
							li
								|подобрать все необходимые отделочные материалы исходя из Вашего бюджета;
							li
								|подобрать сантехническое и кухонное оборудование;
							li
								|организовать весь цикл строительства;
							li
								|провести необходимые согласования.
				ol
					h2
						|Заказав индивидуальный дизайн Вы получаете:
					li
						|Варианты планировочных решений помещений (2-3 варианта с последующими корректировками)
						img(src="images/scheme1.jpg", alt="")
						img(src="images/scheme2.jpg", alt="")
					li
						p
							|Эскизы и коллажи
						.inner-wrapper
							.inner-slider
								ul
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
							.control-bar
								p.image-tip
									|Эскиз гостинной
								
								a(href="#",data-jcarouselcontrol="true").jcarousel-control.prev
								.image-counter
									span.current
										|1
									|  из 
									span.all
										|4

								a(href="#",data-jcarouselcontrol="true").jcarousel-control.next
					li
						p
							|Чертежи (комплект планов и схем)
						img(src="images/scheme3.jpg", alt="")
						img(src="images/scheme4.jpg", alt="")
					li
						p
							|3d визуализацию помещений (дополнительно) 
						.img-gallery
							img(src="images/img-gallery1.jpg", alt="")
							img(src="images/img-gallery2.jpg", alt="")
					li
						p
							|Ведомость отделочных материалов с указанием артикулов и необходимому количеству, а также расчеты по стоимости
					li
						p
							|Смету на ремонтно-строительные работы по проекту
			.content-wrapper.generic#tabs-3
				h1
					|Индивидуальный дизайн: несколько простых шагов 
				ol
					li
						p
							|Мы встречаемся с Вами в офисе продаж в Новогорске. Обсуждаем особенности создания дизайн-проекта квартиры,  стоимость и сроки реализации, показываем работы дизайнеров, определяемся с Вашими стилевыми предпочтениями. Записаться на встречу можно по телефону  
							strong (495) 743–51–51 
							|либо по пишите на почту 
							a(href="mailto:pov@urbandes.ru")
								|pov@urbandes.ru
					li
						p
							|Мы заключаем с вами договор на проектирование. Дизайнер в соответствии с Вашими требованиями заполняет техническое задание на разработку дизайн проекта квартиры где указываются все Ваши пожелания.
						h2
							|Мы поможем Вам:
						ul
							li
								|увидеть свой новый интерьер с помощью коллажей, объемного моделирования и даже как на фотографии;
							li
								|подобрать все необходимые отделочные материалы исходя из Вашего бюджета;
							li
								|подобрать сантехническое и кухонное оборудование;
							li
								|организовать весь цикл строительства;
							li
								|провести необходимые согласования.
				ol
					h2
						|Заказав индивидуальный дизайн Вы получаете:
					li
						|Варианты планировочных решений помещений (2-3 варианта с последующими корректировками)
						img(src="images/scheme1.jpg", alt="")
						img(src="images/scheme2.jpg", alt="")
					li
						p
							|Эскизы и коллажи
						.inner-wrapper
							.inner-slider
								ul
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
									li
										img(src="images/collage1.jpg", alt="collage1")
							.control-bar
								p.image-tip
									|Эскиз гостинной
								
								a(href="#",data-jcarouselcontrol="true").jcarousel-control.prev
								.image-counter
									span.current
										|1
									|  из 
									span.all
										|4

								a(href="#",data-jcarouselcontrol="true").jcarousel-control.next
					li
						p
							|Чертежи (комплект планов и схем)
						img(src="images/scheme3.jpg", alt="")
						img(src="images/scheme4.jpg", alt="")
					li
						p
							|3d визуализацию помещений (дополнительно) 
						.img-gallery
							img(src="images/img-gallery1.jpg", alt="")
							img(src="images/img-gallery2.jpg", alt="")
					li
						p
							|Ведомость отделочных материалов с указанием артикулов и необходимому количеству, а также расчеты по стоимости
					li
						p
							|Смету на ремонтно-строительные работы по проекту
		.bottom-block
			.content-wrapper
				p
					|Если у Вас возникли вопросы, звоните нам по телефону  
					strong (495) 743–51–51 
					br
					|или пишите на e-mail: 
					a(href="#") pov@urbandes.ru
	footer
		.content-wrapper
			a(href="#").sitemap
				|Карта сайта
			ul.socials
				li
					a(href="#").facebook
				li
					a(href="#").twitter
				li
					a(href="#").search
			form(action="")#searchform
				input(type="text", name="", placeholder="Найти")










