footer
	background #292929
	height 5rem
	padding 1.5rem 0 0 0;
	.sitemap
		display block
		color #666
		text-decoration none
		float left
		margin 0 4.75rem 0 0
	.sitemap:hover
		color #8d8d8d
	.socials
		float left
		list-style-type none
		li
			display inline-block
			a
				width 2.25rem
				height 2.25rem
				margin 0 0.5rem 0 0
				display block
			.facebook
				background url(../images/facebook.png) no-repeat
			.facebook:hover
				background url(../images/facebook-hover.png) no-repeat
			.twitter
				background url(../images/twitter.png) no-repeat
			.twitter:hover
				background url(../images/twitter-hover.png) no-repeat
			.search
				background url(../images/search.png) no-repeat
			.search:hover
				background url(../images/search-hover.png) no-repeat
	#searchform
		float left
		input
			width 14.875rem
			height 1.875rem
			border-radius 0.375rem
			padding 0 0 0 0.5rem
			background #e8e8e8
			font-style italic
			border none
			