header
	position relative
	min-width 60rem
.logo-caption
	position absolute
	width 16rem
	height 13.75rem
	background rgba(0,0,0,	.6)
	box-sizing border-box
.first-logo
	top 0
	padding 3.25rem 0 0 1.375rem
.second-logo
	top 13.8rem
	padding 3.25rem 0 0 4.375rem
div.bx-wrapper:first-child div.bx-pager, .bx-wrapper .bx-controls-auto
	bottom 1rem
	right 1rem
	width auto
div.bx-wrapper:first-child .bx-pager.bx-default-pager a
	background #fff
div.bx-wrapper:first-child .bx-pager.bx-default-pager a:hover, div.bx-wrapper .bx-pager.bx-default-pager a.active
	background #0084c8
div.bx-wrapper:first-child
	margin 0 auto 0
	overflow hidden
div.bx-wrapper:first-child .bx-viewport
	box-shadow 0
	-webkit-box-shadow 0
	border 1px solid #fff
.slider
	height 27.5rem
	overflow hidden
	li
		line-height 0
.header-buttons 
	list-style-type none
	overflow hidden
	margin 0.1rem 0 0 0
	li
		height 7rem
		width 33.25%
		display block
		float left
		margin 0 0.1% 0 0
		a
			display block
			height 100%
			width 100%
			color #fff
			text-decoration none
			box-sizing border-box
			padding 1.5rem 0 0 9rem
			p:first-child
				font-family DINPro-Black
				margin 0 0 0.5rem 0;
				font-size 1.25rem
	li:first-child
		a
			background url(../images/redicon.png) no-repeat #d8230f 1rem 0.5rem
		a:hover
			background url(../images/redicon.png) no-repeat #c81905 1rem 0.5rem
	li:nth-child(2)
		a
			background url(../images/greenicon.png) no-repeat #82be06 4rem 1rem
		a:hover
			background url(../images/greenicon.png) no-repeat #74ac00 4rem 1rem
	li:last-child
		margin 0
		a
			background url(../images/blueicon.png) no-repeat #0084c8 3rem 0.5rem
		a:hover
			background url(../images/blueicon.png) no-repeat #0077b4 3rem 0.5rem
.gray-line
	padding 3.25rem 0 2.625rem 0
	border-bottom 1px solid #e0e0e0
	// margin 0 0 2.625rem 0
	margin 0 auto 2.625rem
	width 80rem
.prolog
	line-height 1.375